/* Use flexbox to align the divs in a row. 
Reverse the order of the divs. */

div {
  height: 150px;
  width: 100px;
  background-color: darkgray;
  margin: 1em;
  border: 2px solid red;
  text-align: center;
}

body {
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row-reverse;
  border: 4px red solid;
}
